body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #808080, #2c3e50, #808080);
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .box1 {
    width: 35%;
    margin: 10px;
    margin-left: 7%;
    padding: 15px;
    background: linear-gradient(to left, black, gray, black );
    border-radius: 8px;
    text-align: center;
  }
  #img{
    max-width: 300px;
    height: auto;
  }
  .box2 {
    width: 35%;
    margin: 10px;
    margin-right: 7%;
    padding: 15px;
    background: linear-gradient(to left, black, gray, black );
    border-radius: 8px;
    text-align: center;
  }
  .box3 {
    width: 35%;
    margin: 10px;
    margin-left: 7%;
    padding: 15px;
    background: linear-gradient(to left, black, gray, black );
    border-radius: 8px;
    text-align: center;
  }
  .center-box {
    width: 35%;
    margin: 10px;
    margin-right: 7%;
    padding: 15px;
    background: linear-gradient(to left, black, gray, black );
    border-radius: 8px;
    text-align: center;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: linear-gradient(to left, gray, black, gray );
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  footer {
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(to left, gray, black, gray );
    
  }